h2{
    text-align:end;
text-decoration: dashed teal underline;
font-weight: normal;/* 400*/
letter-spacing: 10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    text-decoration:wavy goldenrod line-through;
    text-align: right;
    font-weight: 800; /* bold*/
    letter-spacing: normal;
}
p{
    line-height: 1.7;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
}