#containor{
    height: 400px;
    width: 800px;
    background-color: aquamarine;
    border: 2px solid black;
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 200px 200px 200px 200px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    /* row-gap: 10px;
    column-gap: 20px; */
    grid-gap: 10px 30px ;/* we can only give gap single value like 10px that set on both 10px colums and 10px rows */
    justify-items: end;
    align-items: center;
    /* place-items: end; */
}
.item{
    height: 70px;
    width: 100px;
    background-color: black;
    border:2px solid white;
    text-align: center;
    color: white;
    font-weight: bold;
}
#one{
    justify-self: start;
    align-self: end;
    /* place-self: start; */
}
/* #one{
    /* grid-row-start: 1;
    grid-row-end:4; */
    /* grid-row:1/4; */
/*grid-row:1/span 2;
/* grid-column-start: 1;
    grid-column-end:4; */
    /* grid-column:1/4; */
   /* grid-column:1/span 2;*/

/*} */