h2{
    color:rgb(239, 96, 85);
}
span{
    color:rgb(151, 125, 7);
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 350px;
    height: 500px;
    display: inline-block;
    border:2px solid black;
    border-radius: 20px;
   
}
img{
    width: 95%;
    margin:2.5% ;
    border-radius: 20px;
}
h3{
    margin-left: 10px;
}
p{
    margin:5px;
}
h4{
    color:rgb(0, 115, 255);
    text-align: right;
}
@media (max-width:750px){
    #pets{
        flex-wrap:wrap;
    }
}
