div{
    background-color: blueviolet;
}
p{
    background-color: white;
}
input{
    background-color: inherit;
}
button:hover{
    background-color:inherit;
}
button:active{
    font-size: large;
    font-weight: 700;
}
