*{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(218, 215, 220);
}
h1{
    color:#f52936;

}
#login{
    background-color:white;
}
#signup{
    background-color: #f52936;
    color:white;
}
.uv{
    background-color: teal;
    color:white;
}
/*Desendant selector*/
.post a{
    background-color: rgb(210, 114, 30);
    color:white;
} 
nav ul li a{
    color:rgb(66, 115, 117);
    text-decoration: none;
}
/*Adjusent sibling combinator*/
.uv+button{
    background-color: darkorchid;
    color:rgb(195, 207, 139);
}
p+h3{
    color:blueviolet;

}
/*Child combinator*/
div>input{
    background-color: rgb(235, 129, 226);
    color:blanchedalmond;
}
/*attribute selector*/
input[type="text"]{/*we can also not define the value of type ex-->  input[type]  */
    color:blueviolet;

}
input[type="password"]{
    color:#f52936;
}
/*Pseudo class*/
button:hover{
    background-color: bisque;
    color:blueviolet;
}
button:active{
    background-color: #f52936;
    color:black;
}
input[type="radio"]:checked+label{
    color:rgb(2, 146, 131);
    font-weight: bold;
    font-size: large;
}
p+h3:active{
    text-decoration: black line-through;
}
div:nth-of-type(2n){
    background-color: rgb(129, 212, 162);
}
/*Pseudo elements*/
p+h3::first-letter{
    font-size: larger;
    font-weight: bold;
    color:rgb(89, 7, 166);
}
div+p::first-line{
    text-decoration: red wavy line-through ;
}
p::selection{
    color:#f52936;
    text-decoration: black underline;
}