#box{
    height: 400px;
    width: 400px;
    border:2px solid rgb(48, 133, 202);
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content */

}
#box div{
    height: 100px;
    width: 100px;
    border:2px solid black;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.447);
    text-align: center;
    font-size: 50px;
}
#box div:hover{
    box-shadow: 0px 2px 10px black;
}