#nav{
    height: 50px;
    width: 900px;
    background-color: pink;
    border:2px solid rgb(0, 132, 255);
    border-radius: 10px;
    display: flex;
    /* justify-content: space-between; */
    
}
#nav div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    display: flex;
    align-items: center;
    /* font-weight: bold; */
}