#alpha{
height: 200px;
width: 100px;
background-color: #00ffff55;

}
#opacity{
    height: 200px;
    width:100px;
    background-color: rgb(77, 211, 211);
    opacity:0.5;
}
button{
    background-color: yellowgreen;
    transition:2s;
}
button:hover{
    margin-top:200px;
}

