div{
    height: 200px;
    width: 150px;
    background-color: rgb(9, 193, 193);
    border:3px solid rgb(0, 0, 0);
    margin:40px ;
    text-align: center;
    transition:1s;
    
    display: inline-block;
}
div:nth-of-type(2n){
    background-color: coral;
}
div:nth-of-type(3n){
    background-color:crimson;
}
div:hover{
    transform: rotate(20deg);
    border-radius: 50%;
    font-size: larger;
    box-shadow: 3px 2px 100px black;

}
#one{
    transform: scale(1.4);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLHVgSQJ95FBAnBw_vs46O5ybodjs7tW2whg&s);
    background-size: cover;
}
#five{
    transform:skew(40deg);
}
#four{
    transform:translate(50px);
}
#two{
    transform:rotate(20deg) translate(30px);
}