div{
    height:200px;
    width:400px;
    background-color: rgba(95, 174, 224, 0.403);
    /* border-style:groove;
    border-width: 3px; */
border:  solid 3px rgb(0, 80, 119) ;
border-radius:10% 30% 50% 70%;
padding: 15px 20px 0 20px;
margin:40px 200px;


}
div:hover{
    background-color: rgba(95, 174, 224, 0.963);
    border-color:rgba(95, 174, 224, 0.963)
}
#one:hover{
    background-color: rgba(197, 31, 64, 0.751);
    border-color: rgba(197, 31, 64, 0.751) ;
}
#one{
    border-color: crimson;
    background-color: rgba(216, 86, 112, 0.604);
}
h1{
    /* border: 2px dotted palevioletred; */
    border-bottom: 10px solid rgb(50, 61, 26);
    border-left: 5px solid rgb( 66 59 34);
    border-radius: 40px;
    /*display property*/
   display:  inline;
   width: 400px;
}
button{
    border-radius: 20px;
}