p{
   background-color:#4a0d13;
   color:red;
   line-height: 30px;
}
h3{
    color:black;
}
h1{
    text-decoration: underline;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color:green;
    text-decoration: none;
}
button{
    background-color: white;
    color:violet;
}
textarea{
    color:#000000;
}
